<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- SECURITY WARNING - DO NOT COMMIT THIS!! -->
		<add key="WordPressUsername" value="yuksel" />
		<add key="WordPressPassword" value="Kazmanot111+" />
		<add key="WordPressBaseUrl" value="http://blog.guessornot.com/" />
		<add key="WordPressBlogId" value="1" />
		<!-- / SECURITY WARNING - DO NOT COMMIT THIS!! -->
	</appSettings>
</configuration>