<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>

    <add key="MakeFirstImageAsFeature" value="True"/>
    <add key="MergeBlockSize" value="600"/>
    <add key="ThumbnailSize" value="150"/>
    <add key="ResizeImages" value="True"/>
    <add key="ResizeSize" value="750"/>
    <add key="UseFtp" value="True"/>
    <add key="UseCache" value="True"/>
    <add key="ShowMessageBoxes" value="False"/>
    
    <add key="BlogUrl" value="http://blog.guessornot.com/"/>
    <add key="BlogUser" value="yuksel"/>
    <add key="BlogPassword" value="Kazmanot111+"/>
    <add key="DatabaseUrl" value="198.46.81.196"/>
    <add key="DatabaseName" value="nalgor5_wpgonbl"/>
    <add key="DatabaseUser" value="nalgor5_wpgonbl"/>
    <add key="DatabasePassword" value="S]P-a588C3"/>
    <add key="FtpUrl" value="ftp.nalgorithm.com"/>
    <add key="FtpUser" value="bloggon2@nalgorithm.com"/>
    <add key="FtpPassword" value="x6b8a[o!bxFe"/>

    <add key="TitleContainsKeywordScore" value="12"/>
    <add key="TitleStartsWithKeywordScore" value="12"/>
    <add key="ContentContainsKeywordScore" value="8"/>
    <add key="ContentFirst100ContainsKeywordScore" value="10"/>
    <add key="KeywordRatioScore" value="1"/>

    <add key="ProxyAddress" value="192.3.252.232"/>
    <add key="ProxyPort" value="21324"/>
    <add key="UseProxy" value="False"/>

    
  </appSettings>
</configuration>